a {
  color: inherit;
  text-decoration: none;
}

.overlay-bg {
  height: 700px;
  width: 100%;
  background: black;
  overflow: hidden;
  background: #C33764;
  /* fallback colour. Make sure this is just one solid colour. */
  background: linear-gradient(rgba(72, 93, 114, 0.9), rgba(35, 36, 73, 0.9)), url("../images/pic-carousel-1.jpg");
  /* The least supported option. */
}

.overlay-left {
  height: 700px;
  width: 100%;
  background: black;
  overflow: hidden;
  background: #C33764;
  /* fallback colour. Make sure this is just one solid colour. */
  background: linear-gradient(rgba(72, 93, 114, 0.9), rgba(35, 36, 73, 0.9)), url("../images/pic-carousel-1.jpg");
  /* The least supported option. */
}

.overlay-right {
  height: 700px;
  width: 100%;
  background: black;
  overflow: hidden;
  background: #C33764;
  /* fallback colour. Make sure this is just one solid colour. */
  background: linear-gradient(rgba(72, 93, 114, 0.9), rgba(35, 36, 73, 0.9)), url("../images/pic-carousel-1.jpg");
  /* The least supported option. */
}

.overlay-banner {
  height: 300px;
  width: 100%;
  background: black;
  overflow: hidden;
  background: #C33764;
  /* fallback colour. Make sure this is just one solid colour. */
  background: linear-gradient(90deg, #5EB2FF 15%, transparent), url("../images/pic-carousel-1.jpg");
  /* The least supported option. */
}
